{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>index</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
        <h1>Week 6/7 - Customer Personality Analysis</h1>
        <p>L’analyse de la personnalité du client est une analyse détaillée des clients idéaux d’une entreprise. Il aide une entreprise à mieux comprendre ses clients et leur permet de modifier plus facilement les produits en fonction des besoins, des comportements et des préoccupations spécifiques de différents types de clients.</p>
        <p>Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.</p>
        <p>Find the dataset and all the information <a href="https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis/data">here.</a></p>
        <h2>Missons</h2>


        
<ol>
    <li>Make a presentation of your EDA of the dataset</li>
    <li>Perform clustering to summarize customer segments</li>
    <li>Explain how the clusters created are relevant or not</li>
    <li>Present your work in a django app (it can be very simple)</li>
    <li>Put your work on github and show us your repo</li>
</ol>
<h2>Presentation <a href="{% url 'my_app-presentation' %}">ici</a></h2>
    

</body>
    </html>